### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import os
import csv

In [2]:
# save path to data set in variable
data_file = "Resources/purchase_data.csv"

In [3]:
# use pandas to read data
data_file_pd = pd.read_csv(data_file)
data_file_pd

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [4]:
# Reference multiple columns within a DataFrame
data_file_pd[["SN", "Gender"]].head()

              SN Gender
0        Lisim78   Male
1    Lisovynya38   Male
2     Ithergue48   Male
3  Chamassasya86   Male
4      Iskosia90   Male

In [5]:
# Calculate the number of unique authors in the DataFrame
player_count = len(data_file_pd["SN"].unique())
player_count

576

In [6]:
pd.DataFrame({"This is the total number of player": [player_count]})

   This is the total number of player
0                                 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
data_file_pd.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   92.114103    3.050987
std     225.310896    6.659444   52.775943    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   48.000000    1.980000
50%     389.500000   22.000000   93.000000    3.150000
75%     584.250000   25.000000  139.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [8]:
# Analysis
average_item_price = data_file_pd["Price"].mean()
total_purchase_value = data_file_pd["Price"].sum()
purchase_count = data_file_pd["Price"].count()
item_count = len(data_file_pd["Item ID"].unique())

In [9]:
# create a summary table
summary_table = pd.DataFrame({"Averarge Price": [average_item_price], 
                              "Total Purchases": [total_purchase_value], 
                              "Number of Purchases": [purchase_count], 
                              "Unique Purchases": [item_count]})
summary_table

   Averarge Price  Total Purchases  Number of Purchases  Unique Purchases
0        3.050987          2379.77                  780               183

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [10]:
# creating unique player dataframe and dropping duplicates to determine gender demographics
unique_player_df = data_file_pd.drop_duplicates(subset=['SN', 'Gender'])
unique_player_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02
774,774,Jiskjask80,11,Male,101,Final Critic,4.19
775,775,Aethedru70,21,Female,60,Wolf,3.54
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19

In [11]:
# Gender demographics using the value counts method and unique values in a column
gender_groupby = unique_player_df.groupby("Gender")
gender_count = gender_groupby["SN"].count()
gender_count

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [12]:
# Percentages of male and female
percent_gender = gender_count/unique_player_df.shape[0]*100
percent_gender

Gender
Female                   14.062500
Male                     84.027778
Other / Non-Disclosed     1.909722
Name: SN, dtype: float64

In [13]:
# Table to display player count and percent by gender
gender_demographics = pd.DataFrame({"Total Count": gender_count, "Percentage of Players": percent_gender})
gender_demographics

                       Total Count  Percentage of Players
Gender
Female                          81              14.062500
Male                           484              84.027778
Other / Non-Disclosed           11               1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [14]:
# calculations to obtain purchase count, avg. purchase price, avg. purchase total per person by gender
purchase_groupby = data_file_pd.groupby("Gender")
purchase_count = purchase_groupby["SN"].count()
average_price = purchase_groupby.mean()["Price"]
total_purchase = purchase_groupby.sum()["Price"]
average_purchase = total_purchase/gender_count
average_purchase

Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [15]:
# Summary table to hold results 
summary_table = pd.DataFrame({"Purchase Count": purchase_count,
                              "Average Purchase Price": average_price,
                              "Total Purchase Value": total_purchase,
                              "Avg Total Purchase per Person": average_purchase})
summary_table

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [16]:
# Establish bins for ages
bins = [10, 10-14, 15-19, 20-40]

In [17]:
# Categorize existing players using bins
age_demo = pd.cut(unique_player_df['Age'], bins=4).value_counts()
age_demo

(16.5, 26.0]     369
(6.962, 16.5]     89
(26.0, 35.5]      85
(35.5, 45.0]      33
Name: Age, dtype: int64

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [18]:
### Age Demographics

# * The below each broken into bins of 4 years (i.e. &lt;10, 10-14, 15-19, etc.)
#   * Purchase Count
#   * Average Purchase Price
#   * Total Purchase Value
#   * Average Purchase Total per Person by Age Group

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [19]:
### Top Spenders
# spender_df = data_file_pd.sort_values(by=["total_purchase"], ascending=False)
# spender_df

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [20]:
# popular_items_df = item_df.sort_values(by=['Purchase Count'], ascending=False)
# popular_items_df

### Most Popular Items
# * Identify the 5 most popular items by purchase count, then list (in a table):
#   * Item ID
#   * Item Name
#   * Purchase Count
#   * Item Price
#   * Total Purchase Value

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [21]:
# profitable_items_df = item_df.sort_values(by=['Total Purchase Value'], ascending=False)
# profitable_items

### Most Profitable Items

# * Identify the 5 most profitable items by total purchase value, then list (in a table):
#   * Item ID
#   * Item Name
#   * Purchase Count
#   * Item Price
#   * Total Purchase Value